.card {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 263px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  padding: 0 19px 31px 19px;
}

.card:hover .card__image {
  transform: scale(1.1);
}
.card__image {
  position: absolute;
  top: -47px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 217px;
  height: 109px;
  transition: all .5s;
}

.card__title {
  margin-top: 109px;
  margin-bottom: 26px;
  font-size: 18px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
  grid-column: 1 / 3;
  text-align: center;
}

.card__info {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 130px;
}

.card__quantity, .card__price {
  font-size: 15px;
  font-family: Gilroy-Regular, sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  grid-column: 1 / 2;
  justify-self: start;
}

.card__action {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  justify-self: end;
}

.card__button {
  width: 130px;
  padding: 17px;
  border-radius: 25px;
  font-size: 16px;
}
