
.footer {
  padding-top: 73px;
  padding-bottom: 63px;
  background: #c0707c;
}

.footer__container {
  display: grid;
  grid-template: auto auto / 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.footer__right {
  font-size: 12px;
  font-family: Gilroy-Regular, sans-serif;
  color: rgb(227, 172, 180);
  margin-top: 19px;
  grid-row: 2/3;
}

.instagram {
  text-align: center;
  text-decoration: none;
  grid-row: 1/3;
  grid-column: 2/3;
}

.instagram__text {
  font-size: 16px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 15px;
}

.footer__phone {
  margin-left: 12px;
  grid-row: 1/3;
}

/*375-767*/
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__container {
    row-gap: 40px;
    grid-template: repeat(4, auto)/ 1fr;
  }

  .footer__logo {
    order: 1;
  }

  .footer__right {
    order: 4;
    margin-top: 0;
    grid-row: unset;
  }

  .instagram {
    order: 3;
    grid-column: unset;
    grid-row: unset;
  }

  .footer__phone {
    order: 2;
    margin-left: 0;
    grid-row: unset;
    grid-column: unset;
  }
}
