/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/tavolga-free.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: Gilroy-Extrabold;
  src: url("./assets/fonts/Gilroy-Extrabold.ttf");
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy-Medium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

body {
  font-family: Gilroy-Medium, sans-serif;
  background-color: #eba8b1;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}

.phone {
  font-size: 16px;
  font-family: Gilroy-Bold, sans-serif;
  color: rgb(255, 255, 255);
  width: 153px;
}
